=link_to "user index", users_path, :class => "btn btn-primary" 
=link_to "role index", roles_path, :class => "btn btn-primary" 
=link_to "forum index", forums_path, :class => "btn btn-primary" 
=link_to "task index", tasks_path, :class => "btn btn-primary" 
